@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .container-padding-x {
        @apply px-[10%] max-lg:px-[7%]
    }

    .container-padding-y {
        @apply py-[5%] max-lg:py-[10%]
    }

    .scroll-margin-top {
        @apply scroll-mt-[64px]
    }
}

/* Custom CSS to hide scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;  /* For Firefox */
  }